@using SMSClient.Constants;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<SMSClient.Model.ApplicationUser>

<h2>Users</h2>

<button style="display: block; margin-left: auto" asp-accesslevel="@AccessLevels.Create" asp-module="@Modules.User" onclick="openCreateUserModal()" type="button" class="btn btn-primary">
    Create a User
</button>



<div id="usersListContainer"></div>

<div id="createUserModalContainer"></div>
<div id="editUserModalContainer"></div>
<div id="deleteUserModalContainer"></div>



<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
<script>
    $("document").ready(function() {
        showUsersList();
    })


    function showUsersList() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowUsersList")',
            dataType: 'html',
            success: function (data) {
                $("#usersListContainer").html(data);
            }
        });
    }

    function activateUser(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActivateUser")',
            data: {id: id},
            success: function (data) {
                if (data) {
                    showUsersList();
                }
            }
        });
    }

    function deactivateUser(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeactivateUser")',
            data: { id: id },
            success: function (data) {
                if (data) {
                    showUsersList();
                }
            }
        });
    }


    function openCreateUserModal() {
        $.ajax({
            url: '@Url.Action("ShowCreateUserModal")',
            dataType: 'html',
            success: function (data) {
                $("#createUserModalContainer").html(data);
                $("#exampleModalLong").modal("show");
            }
        });
    }


    function renderPartialViewUpdate(userId) {
        $.ajax({
            url: '@Url.Action("ShowUpdateUserModal", "Users")' + "?userId=" + userId,
            dataTyle: 'html',
            success: function (data) {
                $("#editUserModalContainer").html(data);
                $("#editModal").modal("show");
            }
        })
    }

    function renderPartialViewDelete(userId) {
        $.ajax({
            url: '@Url.Action("Delete", "Users")' + "?userId=" + userId,
            dataTyle: 'html',
            success: function (data) {
                $("#deleteUserModalContainer").html(data);
                $("#deleteModal").modal("show");

            },
            error: function (er) {
                console.log(er);
            }
        })
    }
</script>
