@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SMSClient.Models.Course


<div class="modal fade" id="courseDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <form id="deleteCourseForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete a Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-12">
                            <label>Course Code</label>
                            <span id="spanId" data-id="@Model.CourseCode">@Model.CourseCode</span>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-6">
                            <label>Short Name</label>
                            <span>@Model.ShortName</span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label>Long Name</label>
                            <span>@Model.LongName</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="Save" type="submit" class="btn btn-primary">Delete Course</button>
                </div>

            </form>

        </div>
    </div>

</div>


<script>
    $("#deleteCourseForm").on('submit', function (e) {
        e.preventDefault();
        let id = $("#spanId").data("id");


        $.ajax({
            type: "POST",
            url: '@Url.Action("AjaxDelete", "Courses")',
            data: { courseCode: id },
            dataType: "json",
            success: function (result) {
                if (result == true) $.notify("Successfully deleted", "success")
                $("#courseDeleteModal").modal("hide");
                location.reload();
            },
            error: function (ex) {
                $.notify(ex)
            }
        })
    })
</script>