@using SMSClient.Constants;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<h2>Departments</h2>
<div asp-accesslevel="@AccessLevels.Create" asp-module="@Modules.Department" style="display: flex; justify-content: end; margin-bottom: 20px">
    @Html.DevExtreme().Button().Text("Create a Department").OnClick("navigateToCreateDepartments")
</div>


<div id="departmentsListContainer"></div>

<div id="editDepartmentModalContainer"></div>
<div id="deleteDepartmentModalContainer"></div>


<script>
    function navigateToCreateDepartments() {
        window.location.href = '@Url.Action("Create")'
    }

    $("document").ready(function () {
        showDepartmentsList();
    })

    function showDepartmentsList() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ShowDepartmentsList")',
            dataType: 'html',
            success: function (data) {
                $("#departmentsListContainer").html(data);
            }
        });
    }

    function activateDepartment(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ActivateDepartment")',
            data: { id: id },
            success: function (data) {
                if (data) {
                    showDepartmentsList();
                }
            }
        });
    }

    function deactivateDepartment(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeactivateDepartment")',
            data: { id: id },
            success: function (data) {
                if (data) {
                    showDepartmentsList();
                }
            }
        });
    }

    function showEditDepartmentModal(id) {
        $.ajax({
            type: "GET",
            cache: false,
            data: { id: id },
            url: '@Url.Action("ShowEditPage", "Departments")',
            success: function (response) {
                $("#editDepartmentModalContainer").html(response);
                $("#editDepartmentModal").modal("show");
            }
        })
    }

    function showDeleteDepartmentModal(id) {
        console.log(id);
        $.ajax({
            type: "GET",
            data: { id: id },
            url: '@Url.Action("ShowDeletePage", "Departments")',
            success: function (response) {
                $("#deleteDepartmentModalContainer").html(response);
                $("#deleteDepartmentModal").modal("show");
            }
        })
    }
</script>