@using SMSClient.Constants;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<SMSClient.Models.Semester>

<h2>Semesters</h2>
<div asp-accesslevel="@AccessLevels.Create" asp-module="@Modules.Semester" style="display: flex; justify-content: end; margin-bottom: 20px">
    @Html.DevExtreme().Button().Text("Create a Semester").OnClick("navigateToCreateSemesters")
</div>


<div style="margin-top: 10px">

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Short Name
                </th>
                <th>
                    Long Name
                </th>
                <th>
                    Start Period
                </th>
                <th>
                    End Period
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Id
                    </td>
                    <td>
                        @obj.ShortName
                    </td>
                    <td>
                        @obj.LongName
                    </td>
                    <td>
                        @obj.StartDate
                    </td>
                    <td>
                        @obj.EndDate
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <button id="@obj.Id" onclick="showEditDepartmentModal(this.id);" asp-accesslevel="@AccessLevels.Edit" asp-module="@Modules.Department" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</button>
                            <button id="@obj.Id" onclick="showDeleteDepartmentModal(this.id);" asp-accesslevel="@AccessLevels.Delete" asp-module="@Modules.Department" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div id="editSemesterModalContainer"></div>
<div id="deleteSemesterModalContainer"></div>

<script>
    function navigateToCreateSemesters() {
        window.location.href = '@Url.Action("Create")'
    }

    function showEditDepartmentModal(id) {
        $.ajax({
            type: "GET",
            cache: false,
            data: { id: id },
            url: '@Url.Action("ShowEditPage", "Semesters")',
            success: function (response) {
                $("#editSemesterModalContainer").html(response);
                $("#editSemesterModal").modal("show");
            }
        })
    }

    function showDeleteDepartmentModal(id) {
        $.ajax({
            type: "GET",
            data: { id: id },
            url: '@Url.Action("ShowDeletePage", "Semesters")',
            success: function (response) {
                $("#deleteSemesterModalContainer").html(response);
                $("#deleteSemesterModal").modal("show");
            }
        })
    }
</script>